In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("test_session").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/10/13 20:20:30 WARN Utils: Your hostname, tatiane-Inspiron-3583, resolves to a loopback address: 127.0.1.1; using 192.168.1.52 instead (on interface wlo1)
25/10/13 20:20:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/13 20:20:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 41212)
Traceback (most recent call last):
  File "/usr/lib/python3.12/socketserver.py", line 318, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.12/socketserver.py", line 349, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.12/socketserver.py", line 362, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.12/socketserver.py", line 761, in __init__
    self.handle()
  File "/home/tatiane/spark/lib/python3.12/site-packages/pyspark/accumulators.py", line 299, in handle
    poll(accum_updates)
  File "/home/tatiane/spark/lib/python3.12/site-packages/pyspark/accumulators.py", line 271, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/home/tatiane/spark/lib/python3.12/site-packages/pyspark/accumulators.py", line 275, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/home/tatiane/spark/lib/python3.12/site-packages/pyspark/serializers.py", line 597, in read_int
    raise EOFError
EOFError
----------------------------------------

In [2]:
import sys, os, time, getpass

sys.path.append("/home/tatiane/lib/")

import pessoal
from pessoal import *
#print('AppID: ', sc.applicationId)

# Pedir ao spark para exibir só erros, escondendo avisos (WARN) e infos
# O correto é resolver a causa como, por exemplo: ordenados = Window.partitionBy().orderBy(dfs[i].columns[0])
spark.sparkContext.setLogLevel("ERROR")

Tempo inicial da execucao: 2025-10-13 20:20:41.809066
User: tatiane
Node: tatiane-Inspiron-3583

## Conversão de base

In [3]:
# Converter Excel para CSV
df_pandas = pd.read_excel("/home/tatiane/Downloads/base_dados_suja.xlsx")

In [4]:
num_linhas, num_colunas = df_pandas.shape
print(f"Número de linhas: {num_linhas}")
print(f"Número de colunas: {num_colunas}")

Número de linhas: 100
Número de colunas: 4

### Criação de identificador único

In [5]:
def createId(df, columnName='id_unico', beginAt=0):
    df = df.copy()
    df[columnName] = range(beginAt + 1, beginAt + len(df) + 1)
    return df

In [6]:
df_pandas = createId(df_pandas, 'id_unico')

min_val = df_pandas['id_unico'].min()
max_val = df_pandas['id_unico'].max()

print("Mínimo:", min_val)
print("Máximo:", max_val)

Mínimo: 1
Máximo: 100

## Converter Excel para CSV

In [7]:
csv_path = "/home/tatiane/Downloads/base_dados_suja.csv"
df_pandas.to_csv(csv_path, index=False)

In [8]:
df = spark.read.csv(csv_path, header=True, inferSchema=True)
pessoal.completudeSchema(df)

Qtd. registros: 100 | Quantidade de colunas:  5
root
 |-- nome: string (nullable = true)
 |-- data_nascimento: string (nullable = true)
 |-- municipio_nascimento: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- id_unico: integer (nullable = true)

In [9]:
df.show()

+--------------------+-----------------+--------------------+----+--------+
|                nome|  data_nascimento|municipio_nascimento|sexo|id_unico|
+--------------------+-----------------+--------------------+----+--------+
|     _ok Pedro Gomes|15/fevereiro/1997|            Curitiba|   M|       1|
| Camila _ok Monteiro|       2001/07/16|      Rio de Janeiro|   M|       2|
|_ok Ricardo Teixeira|12/fevereiro/1973|            Salvador|   F|       3|
|  Paula Azevedo NULL|       1990/06/15|      Rio de Janeiro|   F|       4|
|Fernanda Martins ...|    08/junho/2010|      Belo Horizonte|   M|       5|
|         Rafael Lima|    08/junho/1976|        Porto Alegre|   M|       6|
|     NULL Sofia Melo|       20/11/2003|            Curitiba|   M|       7|
|         André Pinto|  13/outubro/2008|           Fortaleza|   F|       8|
|    123 Bruno Santos|       07/01/1971|      Rio de Janeiro|   M|       9|
|    @ Carla Nogueira|       20/10/1997|              Manaus|   F|      10|
|    Maria Silva temp|       1985/11/09|      Rio de Janeiro|   M|      11|
|  temp Beatriz Costa|06/fevereiro/2002|      Belo Horizonte|   M|      12|
|    Ricardo Teixeira|  16/janeiro/1978|              Recife|   F|      13|
|teste Camila Mont...|       04/08/1997|            Curitiba|   M|      14|
|      Carla Nogueira|15/fevereiro/2010|              Manaus|   M|      15|
|     ### Maria Silva| 24/dezembro/1976|        Porto Alegre|   M|      16|
|Paula sem dado Az...| 10/setembro/1974|              Recife|   M|      17|
|       Rafael @ Lima|       1994/12/27|           São Paulo|   F|      18|
|Aline Barbosa sem...|       2009/08/26|              Manaus|   M|      19|
|          João Souza|       26/05/1978|      Rio de Janeiro|   M|      20|
+--------------------+-----------------+--------------------+----+--------+
only showing top 20 rows

### Escrita da base

In [23]:
write_path = '/home/tatiane/Documentos/tratamento_dados/'

In [24]:
writeSingleCsv(df, write_path)
# arquivo foi renomeado para: base_convertida.csv

('/home/tatiane/Documentos/tratamento_dados/tratamento_dados.csv',
 1.8179035329994804,
 1.8559890420001466)

### Finalização do notebook

In [25]:
executionTime()

Tempo de execucao ate este ponto: 0:00:19.171610